* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: 100vh;
}

:root {
    --color1: rgb(74, 4, 47);
    --color2: #fce8f6;
    --color3: rgb(151, 23, 102);
}





  /* SCROLLBAR ############################################## */

::-webkit-scrollbar {
	width: 20px;
	height: 20px;
	background-color: var(--color1);
	border-radius: 5px;
	border: 6px solid transparent;
	background-clip: content-box;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 120px;
    border: 8px solid transparent;
    background-clip: content-box;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color3);
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}
